* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  /* border: 1px solid black; */
  outline: 1px solid black;
  width: 700px;
  /* height: 480px; */
  margin: 100px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.elements-container {
  /* border: 1px solid black; */
  outline: 1px solid black;
  width: 480px;
  height: 480px;
  /* margin: 100px auto; */
  display: flex;
  flex-wrap: wrap;
  order: 2;
  cursor: default;
}
.element {
  /* width: 30px;
  height: 30px; */
  outline: 1px solid black;
  /* border: 1px solid red; */
  /* background-color: rgb(94, 156, 156); */
  /* z-index: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.element-enter {
  background-color: rgb(6, 6, 6);
  /* width: 30px;
  height: 30px; */
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  /* z-index: 1; */
}
.grid-selection-button {
  font-size: 12px;
  padding: 10px;
  order: 1;
}
.slider-container {
  border: 1px solid black;

  margin-top: 20px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
  /* align-items: center; */
  justify-content: center;
}
.slider {
  margin: 0 auto;

  -webkit-appearance: none;
  background-color: rgb(17, 230, 49);
  width: 200px;
  height: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgb(36, 8, 8);

  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.slider-counter {
  font-size: 18px;
}

.color-button {
  margin-top: 50px;

  padding: 0;
  border: none;
  border-radius: 12px;
  width: 120px;
  height: 40px;
  -webkit-appearance: none;
}
.color-button::-webkit-color-swatch {
  border: none;
  border-radius: 12px;
  padding: 0;
}
.color-button::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 12px;
  padding: 0;
}
