* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #495057;
}

.main-container {
  width: 900px;
  background-color: #495057;
  margin: 100px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.elements-container {
  box-shadow: rgba(1, 1, 1, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
  background-color: #f1f3f5;
  width: 580px;
  height: 580px;

  display: flex;
  flex-wrap: wrap;
  order: 2;
  cursor: default;
}
.element {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.element-enter {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.grid-selection-button {
  font-size: 12px;
  padding: 10px;
  order: 1;
}
.slider-container {
  padding: 22px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 4px;
  margin-top: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  border-radius: 12px;
}
.slider {
  margin: 0 auto;
  -webkit-appearance: none;
  background-color: #868e96;
  width: 200px;
  height: 20px;
  border-radius: 50px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #212529;

  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.slider-counter {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #adb5bd;
}

.color-button {
  order: 2;
  padding: 0;
  border: none;
  border-radius: 14px;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
}
.color-button:hover {
  cursor: pointer;
}

.color-button::-webkit-color-swatch {
  border: none;
  border-radius: 12px;
  padding: 0;
}
.color-button::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 12px;
  padding: 0;
}

.random-button {
  order: 1;
  width: 40px;
  height: 40px;

  border-radius: 12px;
  border: none;
  background: linear-gradient(
    45deg,
    #dc3b3e,
    #3b99dc 60%,
    #3bdc90 75%,
    rgb(255 141 0) 100%
  );
}
.random-button:active {
  box-shadow: rgba(27, 28, 28, 0.3) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.random-button:hover {
  cursor: pointer;
}
.erase-button {
  padding: 12px;
  width: 64px;
  height: 64px;
  font-size: 32px;
  border-radius: 12px;
  border: none;
  background-color: #dee2e6;
}
.erase-button:active {
  box-shadow: rgba(27, 28, 28, 0.3) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.erase-button:hover {
  cursor: pointer;
}
.clear-canvas-button {
  padding: 12px;
  width: 64px;
  height: 64px;
  font-size: 32px;
  border-radius: 12px;
  border: none;
  background-color: #dee2e6;

  border-radius: 12px;
}
.clear-canvas-button:hover {
  background-color: #ffc9c9;
  cursor: pointer;
}
.clear-canvas-button:active {
  box-shadow: rgba(27, 28, 28, 0.3) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.color-container {
  display: flex;
  justify-content: center;
  gap: 22px;
}
.tools-container {
  display: flex;
  justify-content: center;
  gap: 22px;
}
.slider-container-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
}
.slider-container-inner svg {
  fill: #adb5bd;
}
.download-link {
  padding: 12px;
  width: 64px;
  height: 64px;
  border-radius: 12px;
  border: none;
  background-color: #dee2e6;
}
